
:root {
    /* --background-color: #000a23; */
    --background-color: #F5F1E8;
}

body {
  height: 100vh;
}
html, body, #root {
    margin: 0;
    background-color: var(--background-color);
    color: #4A4A48;
    user-select: none;
}
#root {
  /* width: 100%; */
  min-width: 1280px;
}
